In [4]:
import sys
import os
import pandas as pd

# Add project root directory to PYTHONPATH:
project_root = os.path.abspath(os.path.join(os.path.dirname(os.getcwd()), 'project'))
sys.path.insert(0, project_root)

# Import extraction functions:
from data_extraction.nba import extract_nba_player_salaries, extract_nba_team_salaries
from data_extraction.wnba import extract_wnba_player_salaries, extract_wnba_team_salaries

# Extract NBA player salaries:
extract_nba_player_salaries("https://hoopshype.com/salaries/players/2023-2024/", 'nba_player_salaries_2024.csv')

players_salaries = pd.read_csv('nba_player_salaries_2024.csv')
players_salaries.drop(columns=[players_salaries.columns[0],"2023/24(*)"], axis=1,  inplace=True)
players_salaries.to_csv('nba_player_salaries_2024.csv')
display(players_salaries)

Successfully fetched the webpage: https://hoopshype.com/salaries/players/2023-2024/
Headers found: ['', 'Player', '2023/24', '2023/24(*)']
Data successfully scraped and saved to nba_player_salaries_2024.csv

                 Player      2023/24
0         Stephen Curry  $51,915,615
1          Kevin Durant  $47,649,433
2          Nikola Jokic  $47,607,350
3          LeBron James  $47,607,350
4           Joel Embiid  $47,607,350
..                  ...          ...
607      Jalen Crutcher      $64,343
608  Izaiah Brockington      $64,343
609      Taevion Kinsey      $64,343
610       Edmond Sumner      $40,459
611        Kaiser Gates      $35,389

[612 rows x 2 columns]